h1{
  color: blue;
  text-align: center;
  font-style: italic;
  font-size: 60px;
}
h2{
  color: blue;
  font-style: oblique;
  font-size: 30px;
}
p{
  color: white;
}
.paragraph{
  color: white;
}
h3{
  color: green;
}
